    #story-wrapper
    {
        /*background-size: cover;*/
         /*-ms-behavior: url(../js/backgroundsize.min.htc);*/
        /*min-height: 100%;*/
        /*min-width: 1024px;*/
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background:no-repeat center center fixed;
        background-size: cover;
        /*background-position: center top;*/
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/background.jpg', sizingMethod='scale');
        /*-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/background.jpg', sizingMethod='scale')";*/
    }

    #story-presenter, #story-nameplate {
        top:10%;
        left:12%;
        position: absolute;
        pointer-events: none;
        left:10px;
        /*margin-left:-5%;*/
    }
    .start_button
    {
        padding-top: 19%;
        width: 50%;
        z-index: 4;
        top:-17%;
        /*background: url(../img/start_button.png);*/
        /*background-size: 100% 100%;*/
        /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/start_button.png', sizingMethod='scale');*/
        /*-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/start_button.png', sizingMethod='scale')";*/
        /*width: 46%;*/
        /*height: 76px;*/
    }
    #start_first {
        width: 32%;
        /*height: 100px;*/
        /*background: url(../img/start_button.png);*/
        background-size: 100% 100%;
        background-repeat: no-repeat;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/start_button.png', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/start_button.png', sizingMethod='scale')";


    }
    #story-scoreboard-container{
        position: absolute;
        /*bottom: 2%;*/
        left:1%;
        width: 20%;
        height: 40%;
        /*background: url(../img/scoreboard.png);*/
        background-repeat: no-repeat;
        /*background-size: 100% 100%;*/
        /*padding-top: 1%;*/
    }

    .score_heading{
        color: #ffffff;
        font-weight: bold;
        position: absolute;
        left: 7%;
        top: 62%;

    }
    .score_hurdle-name{
        color: #000000;
        font-weight: bold;
        position: absolute;
        left: 39%;
        top: 21.5%;

    }
    .score_hurdle-time{
        color:#000000;
        position: absolute;
        top: 43.5%;
        left: 38%;
        font: bold;
    }
    .score_hurdle-score{
        color:#000000;
        position: absolute;
        top: 68%;
        left: 38%;
        font-size: 14px;
        font: bold;
        padding-top: 5px;
    }

    #backpack-icon-wrapper {
        width: 32%;
        height: 65px;
        background: #302B54;
        /*border: 1px solid #000;*/
        padding: 3%;
        position: absolute;
        top: 3.5%;
        left:9%;
        border-radius: 10px;
    }

    .back-pack-icon{
        width:40%;
        /*height:30%;*/
    }

    /*Back Pack Contants IE* Styles Start*/
            .back_pack_content{
                /*background: url(../img/backpack_box.png) repeat;
                height: 46%;
                left: 25%;
                top: 23%;*/
                width: 45%;
               /* display: table;
                text-align: center;
                position: absolute;
                z-index: 1;
                padding: 5px 5px 15px 5px;
                background-repeat: repeat;
                color:white;
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/backpack_box.png', sizingMethod='image');
                -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../img/backpack_box.png', sizingMethod='image')";*/

            }
            .top-content {
                color:red;
                width: 90%;
                float: left;
                border-radius: 10px;
            }
            .top-content-header{
                color:red;
                width: 100%;
                /*position: absolute;*/
                float: left;
                border-radius: 10px;
            }
            .close-btn  {
                color:red;
                width: 10%;
                float: left;
                border-radius: 10px;
            }
            .left-slide{
                float: left;
                width: 5%;
            }
            .mid-slide{
                float: left;
                /*height: auto;*/
                width: 90%;
                /*overflow-y: auto;*/
                padding-left: 5%;
            }
            .right-slide {
                /*opacity: 0.6;*/
                /*filter: alpha(opacity=60); *//* For IE8 and earlier */
                float: left;
                width: 5%;
            }
            .right-content, .left-content {
                float: left;
                display: table-cell;
            }
            .slide_btn{
                border:none;
                background:none;
            }
    /*Back Pack Contants IE* Styles End*/


    /*.story-node img {*/
        /*width: 5%;*/
    /*}*/
    .story-zone-tale {
        position: absolute;
        padding: 20px;
        top: 29%;
        right: 44px;
        font-size: 1em;
        background: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: black;
        width: 47%;
        height: 25%;
        filter: alpha(opacity=70);
    }
    #button-bank {
        position: absolute;
        width: 33%;
        top: 55%;
        height: 22%;
        right: 6%;
        /*opacity: 0.8;*/
    }
    .zone-button {
        display: block;
        background: black;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 1em;
        line-height: 0.1em;
        height: 10%;
        width: 100%;
        padding: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        text-decoration: none;
        color: #ffffff;
    }

    .zone-button:hover {
        text-decoration: none;
        color: #ffffff;
    }
    a.zone-button:visited{
        color:white !important;
    }


    #zone-tale-1 span{
        left: 14%;
        top: 20%;
    }

    #instruction_table{
        background: #541d16 !important;
        color: white;
        display: table;
        height: 56%;
        left: 25%;
        padding: 0 2%;
        position: relative;
        text-align: left;
        top: 8%;
        width: 43%;
        z-index: 2;
    }
    .web_dialog{
    display: none;
    position: fixed;
    width: 380px;
    background: #541d16;
    background-size:100% 100%;
    padding: 0px;
    z-index: 102;
    font-size: 10pt;
    color:white;
    height: 46%;
    left: 25%;
    padding: 0 2%;
    top: 23%;
    width: 43%;
    }

    .caveman .btn-ok {
        left: 40% !important ;
    }


    #ack-date{
        top: 79% !important;
        position: absolute;
        font-size: 16px;
        font-weight: bold;
        color: #222;
        left: 24%;;
    }

    #lifelinepanel .lifeline-panel {
        background: white !important;
    }

    .hangman #continue:hover, #try-again:hover, #backpack:hover {
        /*background: none !important;*/
        background: url("../img/game_btn_active_hangman.png") !important;
        background-size: 0 !important;
    }

    .caveman .header{
        left: 33%;
        position: absolute;
        top: 28%;
        width: 51%;
        font-size: 14px;
        color: black;
    }    
    #endmessage span {
        position: absolute;
        left: 31.5;
        top:3%;
        width: 45%;
    }

    .backpack-icon-logo{
        margin-left: -3%;
    }

    .back_pack_content{

    }

    .back_pack_icon{
        height: initial !important;
    }
    #zone-tale-3 span{
        left: 5% !important;
        top: 10% !important;
    }