@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:700);
#ptotemy-game {
    position: fixed;
    width: 640px;
    height: 480px;
    margin:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    font-size: 14.1333px;
}